* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
	text-decoration: none;
	color: black;
}

.logo {
	font-size: 18px;
	letter-spacing: 1px;
	font-weight: 600;
}

#logo {
	display: flex;
	align-items: center;
}

.symbol {
	width: 32px;
	margin-right: 10px; 
}

header {
	width: 100%;
	border-bottom: solid 1px #eeeeee;
}

.container {
	display: flex;
	margin: 0 auto;
}

.header {
	width: 94%;
	height: 64px;
	justify-content: space-between;
	align-items: center;
}

.body {
	width: 90%;
}

header ul {
	list-style: none;
	width: 320px;
	font-size: 12px;
	display: flex;
	justify-content: space-between;
	color: #b8b8b8;
}

li {
	color: #b8b8b8;
}

.title {
	margin-top: 36px;
}

#bg {
	background-image: url(https://images.unsplash.com/photo-1511632765486-a01980e01a18?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}